<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/picture/home/logo.png">
    <title>HOME | EASY ACCESS</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="navbar.css">
    <!-- ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto+Condensed&display=swap" rel="stylesheet">
    <!-- SWIPER JS-->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <!-- icon -->
    <script src="https://kit.fontawesome.com/5bde5dd917.js" crossorigin="anonymous"></script>
</head>
<body> 
    <!--NAVBAR -->
    <nav>
        <div class="container nav__container">
            <a href="/home"><h4>EASY ACCESS</h4></a>
            <a href="/home" class="heart">
                <i class="fa-solid fa-heart"></i>
            </a>
            <div class="nav__menu">
                    <ul>
                        <li>About Us<i class="fas fa-angle-down"></i>
                        <ul>
                            <li><a href="#">About Easy Access</a></li>
                            <li><a href="#">Diversity & Inclusion</a></li>
                            <li><a href="#">Social Media</a></li>
                        </ul></li>
                        <li>Category<i class="fas fa-angle-down"></i>
                        <ul>
                            <li><a href="/home/sport/football">Football</a ></li>
                            <li><a href="/home/sport/basketball">Basketball</a></li>
                            <li><a href="/home/sport/badminton">Badminton</a></li>
                            <li><a href="#">Table tennis</a></li>
                            <li><a href="#">Volleyball</a></li>
                        </ul></li>
                        <li><a href="#">News</a></li>
                        <ul>
                            <li><a href="#"></a></li>
                        </ul>
                    </ul> 
            </div>
            <div class="search">
                <input type="text" name="search" placeholder="Search">
                <a href="#" class="search-btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <a href="" class="globe">
                        <i class="fa-solid fa-globe"></i>
                    </a>
                </a>
            </div>
            <a href="/home/login" class="sign">SIGN IN</a>  
        </div>
    </nav>
    <!-- END NAVBAR -->
    
    <!-- Header -->
    <header>
        <div class="container header__container">
            <div class="header__left">
                <div class="text-intro">EASY ACCESS WEBSITE</div>
                <div class="topic-web">MAKE YOU<br>BE THE HEALTHY</div>
                <button type="button" class="button-web">TRY OUT OUR NEW SPORT</button>
            </div>
            <div class="header__right"></div> 
        </div>
    </header>
    <!-- END Header -->

    <!-- New Flit -->
    <section class="categories">
            <div class="container categories__container">
                <div class="categories__left">
                    <div class="topic">
                        <h1>What's happening?</h1>
                    </div>
                    <article class="category-1">
                        <h5><br><br><br><br><br><br><br><br><br><br>Announcing a new stadium in Bangkok Plus there is a special discount promotion...<br><span>NEWS</span></h5>
                    </article>
                </div>
                <div class="categories__right">
                    <a href="#" class="see">SEE MORE</a>
                    <article class="category">
                            <h5>Announcing a new football stadium opening around Mahidol University...<br><span>NEWS</span></h5>               
                    </article>
                    <article class="category">
                        <h5>The football stadium at RATCHAYOTIN FOOTBALL has a holiday promotion...<br><span>NEWS</span></h5>
                    </article>
                    <article class="category">
                        <h5>The website presents a new badminton court in Bangkok...<br><span>NEWS</span></h5>
                    </article>
                    <article class="category">
                        <h5>The badminton court at SENA NIKHOM has a course to teach to compete at the national team level.<br><span>NEWS</span></h5>
                    </article> 
                </div>  
            </div>    
    </section>
    <!-- END Flit -->
    <!-- testimonials -->
    <section class="container testimonials__container mySwiper">
        <h2>Our Sport</h2>
        <div class="swiper-wrapper">
            <article class="testimonial swiper-slide">
                <div class="avatar">
                     <img src="/picture/image/football_p1.png">
                </div>
                <div class="testimonial__info">
                    <a href="/home/ID%=1/sport/football"><h4>Football</h4></a>
                </div>
                <div class="testimonial__body">
                    <p>Football or soccer,
                       is a team sport played with a spherical ball between two teams of 11 players. 
                       It is played by approximately 250 million players in over 200 countries and dependencies, 
                       making it the world's most popular sport...</p>
                </div>
            </article>
            <article class="testimonial swiper-slide">
                <div class="avatar">
                     <img src="/picture/home/basketball.jpg">
                </div>
                <div class="testimonial__info">
                    <a href="/home/ID%=1/sport/basketball"><h4>Basketball</h4></a>
                </div>
                <div class="testimonial__body">
                    <p>Basketball is a team sport. 
                       Two teams of five players each try to score by shooting a ball through a hoop elevated 10 feet above the ground.
                       The game is played on a rectangular floor called the court, and there is a hoop at each end...
                        </p>
                </div>
            </article>
            <article class="testimonial swiper-slide">
                <div class="avatar">
                     <img src="/picture/image/Table tennis/table-tennis.jpg">
                </div>
                <div class="testimonial__info">
                    <a href="#"><h4>Table tennis</h4></a>
                </div>
                <div class="testimonial__body">
                    <p> Games are played to 11 points Players serve two serves each, alternating. A player does not have to win specifically off their own serve 
                        in order to win a point If a game ties at 10-10, a player must win by 2 points. 
                        In this situation, players serve one serve each, alternating 
                    </p>
                </div>
            </article>
            <article class="testimonial swiper-slide">
                <div class="avatar">
                     <img src="/picture/image/Badminton/Bad-1.png">
                </div>
                <div class="testimonial__info">
                    <a href="/home/ID%=1/sport/badminton"><h4>Badminton</h4></a>
                </div>
                <div class="testimonial__body">
                    <p>Badminton or racket
                       Badminton sports will divide players into 2 teams and divided into 2 types of play: 
                       "singles", which divides players into 1 person each, and "doubles", divides players into 2 players each.  
                       Called 1 match, 3 games per match (some people call it a set)...</p>
                </div>
            </article>
            <article class="testimonial swiper-slide">
                <div class="avatar">
                     <img  src="/picture/image/Volleyball/volleyball-history-600.jpg">
                </div>
                <div class="testimonial__info">
                    <a href="#"><h4>Volleyball</h4></a>
                </div>
                <div class="testimonial__body">
                    <p>Volleyball, game played by two teams, usually of six players on a side, in which the players use their hands to bat a ball back 
                        and forth over a high net, trying to make the ball touch the court within the opponents’ playing area before it can be returned. 
                    </p>
                </div>
            </article>
        </div>
        <div class="swiper-pagination"></div>
    </section>
    <!-- END testimonials-->
    <!-- About -->
    <section class="about">
        <div class="container about__container">
            <div class="about__left">
                <h1>Clickbait!</h1>
                <div class="info">Team up with us to forge your path and craft unforgettable experiences</div>
                <div class="about__cards">
                    <article class="about__card">
                        <h3>16</h3>
                        <p>Open positions</p>
                    </article>
                    <article class="about__card">
                        <h3>5</h3>
                        <p>Sports</p>
                    </article>
                </div>
                    <a href="#" class="see__ph">Explore Careers</a>    
            </div>
            <div class="about__right">
                <img src="/picture/home/multi-sport.jpg">
            </div>  
        </div>    
    </section>
    <!-- END About-->
    <!-- Footer -->
    <footer>
        <div class="container footer__container">
            <div class="footer__1">
                <a href="#" class="footer__logo"><h4>EASY ACCESS</h4></a>
                <p>We welcome everyone to join our website and we will make your sport as easy and fresh as possible.</p>
            </div>
            <div class="footer__2">
                <h4>Permalinks</h4>
                <ul class="permalinks">
                    <li><a href="/home/ID%=1">Home</a></li>
                    <li><a href="#">Category</a></li>
                    <li><a href="#">NEWs</a></li>
                </ul>
            </div>
            <div class="footer__3">
                <h4>Primacy</h4>
                <ul class="primacy">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="#">Refund Policy</a></li>
                </ul>
            </div>
            <div class="footer__4">
                <h4>Contact Us</h4>
                <div>
                    <p>+06 83 537 4334</p>
                    <p>easy.access@gmail.com</p>
                </div>
                <ul class="footer__socials">
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- END Footer-->
    <script src="/js/home.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    
    <script>
        var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: -140,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        // when window width is >= 600px
        breakpoints:{
            600:{
                slidesPerView: 2
            }
        }
      });
    </script>
</body>
</html>