<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/picture/home/logo.png">
  <title>LOGIN | EASY ACCESS</title>
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet"
  rel="stylesheet">
  </head>
<body >
  <div class="main">
    <div class="container a-container" id="a-container">
      <form class="form" id="a-form" method="post" action="/home/login">
        <h2 class="form__title title">Create Account</h2>
   
      <span class="form__span">or use email form registration</span>
      <input class="form__input" type="username" placeholder="Username" id="name">
      <input class="form__input" type="email" placeholder="Email" id="email">
      <input class="form__input" type="password" placeholder="Password" id="password">
      <input class="form__input" type="c-password" placeholder="Confirm Password">
      <div class="conta">
        <input type="radio" name="size" id="male" checked="checked" class="dot">
        <label for="male">Male</label>
        <input type="radio" name="size" id="female" checked="checked" class="dot">
        <label for="female">Female</label>
        <input type="radio" name="size" id="other" checked="checked" class="dot">
        <label for="female">Other...</label>
      </div>
      <a href="#" class="sign">Login</a>
    </form>
  </div>
  
    <div class="container b-container" id="b-container">
      <form class="form" id="b-form" method="" action="">
        <h2 class="form__title title">Login to the Website</h2>
    <span class="form__span">or use email form account</span>
      <input class="form__input" type="email" placeholder="Email">
      <input class="form__input" type="password" placeholder="Password">
      <div class="form__icons">
        <img class="form__icon" src="/social/icons8-facebook.svg" alt="facebook">
        <img class="form__icon" src="/social/icons8-instagram.svg" alt="Instagram">
        <img class="form__icon" src="/social/icons8-twitter.svg" alt="Twitter">
        <img class="form__icon" src="/social/icons8-google.svg" alt="Google">
     </div>
      <a class="form__link">Forgot your password?</a>
    
      <a href="/home/ID%=1" class="sign">Login</a>
    </form>
  </div>
    <div class="switch" id="switch-cnt">
      <div class="switch__circle"></div>
      <div class="switch__circle switch__circle--t"></div>

    <div class="switch__container" id="switch-c1">
      <h2 class="switch__title title2">Welcome Black !!</h2>
      <p class="switch__description description">
      To keep connected with us please login with your personal info
      </p>
      <button class="switch__button button switch-btn">SignUp</button>
  </div>
    <div class="switch__container is-hidden" id="switch-c2">
      <h2 class="switch__title title">Welcome to apply for </h2>
      <h2 class ="switch__title title1">the website </h2>
      <p class="switch__description description">
      Enter your personal details and start journey with us
      </p>
    <button class="switch__button button switch-btn">SignUp</button>
    </div>
  </div>
  </div>
<script src="/js/login.js"></script>   
    </form>
  </body>
</html>
